<mat-card style="margin-top: 20px" class="example-card">
  <mat-card-title-group>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>{{ user.lastName }}</mat-card-subtitle>
    <img
      mat-card-sm-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    />
  </mat-card-title-group>
  <mat-card-content>
    {{ longText }}
  </mat-card-content>
</mat-card>
